.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0.5rem;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 5px;
}

.title {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
}

.description {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  color: rgb(71, 71, 71);
}